:root {
  /* Primary Colors */
  --pr-soft-orange: hsl(35, 77%, 62%);
  --pr-soft-red: hsl(5, 85%, 63%);

  /* Neutral Colors */
  --nt-off-white: hsl(36, 100%, 99%);
  --nt-grayish-blue: hsl(233, 8%, 79%);
  --nt-dark-grayish-blue: hsl(236, 13%, 42%);
  --nt-very-dark-blue: hsl(240, 100%, 5%);

  /* Font weights */
  --fw-400: 400;
  --fw-700: 700;
  --fw-800: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  padding: 1rem;
  font-family: Inter, "sans-serif";
  min-height: 100vh;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

header img:first-child {
  height: 1.75rem;
}

article img {
  width: 100%;
}

.article-content {
  margin-top: 30px;
  margin-bottom: 63px;
}

.article-content h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: var(--fw-800);
  color: #00001a;
  margin-bottom: 25px;
}

.article-content p {
  color: #5e607a;
  font-size: 1.038rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 25px;
}

button {
  background-color: var(--pr-soft-red);
  border: none;
  font-size: 14px;
  letter-spacing: 3px;
  font-family: Inter, "sans-serif";
  padding: 13px 31px;
  font-weight: var(--fw-800);
  color: #00001A;
}

aside {
  background-color: #00001a;
  color: var(--nt-off-white);
  padding: 24px 21px;
  margin-bottom: 62px;
}

aside h2 {
  color: var(--pr-soft-orange);
  font-size: 2rem;
  font-weight: var(--fw-700);
  margin-bottom: 2.1875rem;
}

aside a {
  text-decoration: none;
  color: var(--nt-off-white);
}

.aside-content {
  line-height: 1.7;
  margin-bottom: 2.25rem;
  margin-top: 2.24rem;
}

.aside-content p {
  color: #c5c6ce;
  font-size: 0.9rem;
  font-weight: 300;
}

.aside-content:last-child {
  margin-bottom: 0;
}

hr {
  border: 0;
  border-top: 1px solid #5e607a;
}

.second-article{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.second-article-content {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 1.5625rem;
}

.content-information{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-information h3 {
  font-size: 1.7rem;
  color: var(--pr-soft-red);
}

.content-information a {
  text-decoration: none;
  color: #00001a;
  font-weight: var(--fw-700);
}

.content-information p {
  font-size: 14px;
  line-height: 1.7;
  color: #5E607A;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    padding: 1.5rem;
    display: none;
    /* display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start; */
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
}

.sidebar ul{
    display: flex;
    flex-direction: column;
}

.close-menu{
    align-self: end;
}

.sidebar ul li{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.sidebar ul li{
    justify-self: center;
}

.homepage-bar{
  display: none;
}

@media (min-width: 900px){

  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
  }

  main,
  header{
    width: 75%;
  }

  .sidebar,
  .hamburger{
    display: none;
  }

  .homepage-bar{
    display: block;
  }

  .homepage-bar ul{
    display: flex;
    gap: 4rem
  }

  .homepage-bar ul li{
    list-style: none;
  }

  a{
    text-decoration: none;
    color: #5E607A;
  }

  a:hover{
    color: #F15D51;
  }

  button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
  }

  .first-article{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 2rem;
  }

  .images{
    grid-column: 1 / 3;
  }

  .article-content{
    grid-row: 2/2;
    grid-column: 1 / 3;
  }

  aside{
    grid-row: 1/3;
  }

  .article-content{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    /* grid-column: 1/3; */
    margin: 0;
    /* padding: 0; */
    align-self: end;
  }

  .article-content h1{
    font-size: 5rem;
  }

  .article-content-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .article-content-two button{
    align-self: start;

  }

  aside{
    height: 100%;
  }

  .second-article{
    margin-top: 3rem;
    flex-direction: row;
  }

  .second-article img{
    height: 7.9375rem;
  }

  .content-information{
    align-self: center;
  }

}